<!Doctype html>
<html>

<head>
    <style>
        .bg{
            background-image: url("https://media.istockphoto.com/id/1168608995/photo/exam-and-time-management-concepts-with-male-hand-holding-pencil-and-paper-sheet-on-table.jpg?s=612x612&w=0&k=20&c=Zc-eL7iOf4yMP70guAz_8WAAfr0Y-9IXxm16-EgzsdY=");
            background-position: cover;
            height: 900px;
            background-repeat: no-repeat;
            background-size: 1500px 1200px;
        }
       
    </style>
</head>

<body>
    <div class="bg">
    <a href="/"><button>home</button></a>
    <h1>about:</h1>
    <p>inventory management system,provide the management process to the retailers and vendors.it helps to the retailers
        to buy the products</p>

    </div>
</body>

</html>